        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-tabs">
              <li role="presentation">
                <a href="/houses/home-rent.html">出租</a>
              </li>
              <li role="presentation">
                <a href="/searches/home-find.html">找房</a>
              </li>
              <li role="presentation">
                <a href="/houses/home-collection.html">收藏</a>
              </li>
              <li role="presentation">
                <a href="/payments/home-vip.html">VIP</a>
              </li>
              <li role="presentation">
                <a href="/msgs/home-msg.html">消息</a>
              </li>
              <li role="presentation">
                <a href="/users/home-config.html">设置</a>
              </li>
            </ul>
          </div>
        </div>