
{% load static %}
<div class="row" id="user-info">
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
        <a href="#"><img :src="headIcon" class="img-circle img-responsive"></a>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-8">
        <ol class="list-unstyled">
            <li>姓名：{$first_name$} {$last_name$}</li>
            <li>性别：{$gender$}</li>
            <li>学校：迈阿密大学（University of Miami）</li>
            <li>身份：{$userType$}</li>
            <li>状态：{$states$}</li>
            <li>专业：{$major$}</li>
            <li>爱好：{$interests$}</li>
            <li>信誉：{$credits$}</li>
        </ol>
    </div>
</div>
<script src="{% static "commons/js/vms/user-info.js" %}" type="text/javascript"></script>