<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="index.css" rel="stylesheet" type="text/css">
  </head><body class="nav-bar">
    <div class="navbar" id="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><span><b>OFFCAMPUS</b></span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#home">退出</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
            <a href="#"><img src="images/head_portrait.jpg" class="img-circle img-responsive"></a>
          </div>
          <div class="col-lg-10 col-md-10 col-sm-9 col-xs-8">
            <ol class="list-unstyled">
              <li>姓名：张三</li>
              <li>性别：男</li>
              <li>学校：XXX大学（University of XXX）</li>
              <li>身份：学生
                <br>
              </li>
              <li>状态：实名认证、会员</li>
              <li>专业：理论物理
                <br>
              </li>
              <li>爱好：阅读、健身、瑜伽冥想、旅行</li>
              <li>信誉：+9</li>
            </ol>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-tabs">
              <li role="presentation" class="active">
                <a href="#">出租</a>
              </li>
              <li role="presentation">
                <a href="#">找房</a>
              </li>
              <li role="presentation">
                <a href="#">收藏</a>
              </li>
              <li role="presentation">
                <a href="#">VIP</a>
              </li>
              <li role="presentation">
                <a href="#">消息</a>
              </li>
              <li>
                <a href="#">设置</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a class="btn btn-success" data-target="#house-create" data-toggle="modal">新建</a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
            <img src="https://unsplash.imgix.net/photo-1414438992182-69e404046f80?w=1024&amp;q=50&amp;fm=jpg&amp;s=009738f458a5234335b2e05677029b39" class="img-responsive">
          </div>
          <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
            <ol class="list-unstyled">
              <li>地址：1205 XXXXXXXXXXXX XXX XX XX XXXXX</li>
              <li>起租日期：2016-02-22</li>
              <li>类型：公寓</li>
              <li>月租 ：$ 2400 .00</li>
              <li>押金：$3600.00</li>
              <li>户型：3室2厅2.5卫1阳台</li>
              <li>上学：步行15分钟+2站地铁=步行25分钟</li>
              <li>超市：自驾30分钟=步行240分钟</li>
              <li>其他说明：无家具、不允许养宠物、招长租</li>
            </ol><div class="col-md-12 text-left"><div class="btn-group"><a href="#" class="btn btn-default">编辑</a><a href="#" class="btn btn-default">添加房间</a><a href="#" class="btn btn-default">删除</a><a class="btn btn-primary">出租ing</a></div></div>
            
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="section">
              <div class="container">
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                    <h2>主卧 $800</h2>
                  </div>
                  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                    <h2>侧卧1 $600</h2>
                  </div>
                  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive img-rounded">
                    <h2>侧卧2 $600</h2>
                  </div>
                  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                    <h2>客厅 $400</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="section section-primary" id="contacts">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1>OFFCAMPUS</h1>
            <p>©版权所有 2016 黑天鹅互联网创新研发团队</p>
          </div>
          <div class="col-sm-6">
            <p class="text-right">Email:offcampus@yeah.net</p>
            <div class="row">
              <div class="col-md-12 hidden-xs text-right">
                <a href="#"><i class="fa fa-3x fa-fw text-inverse fa-git"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw text-inverse fa-github"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw hub text-inverse fa-qq"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="modal fade" id="house-create">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">新建房源</h4>
          </div>
          <div class="modal-body">
            <p>One fine body...</p>
          </div>
          <div class="modal-footer">
            <a class="btn btn-default" data-dismiss="modal">关闭</a>
            <a class="btn btn-primary">创建</a>
          </div>
        </div>
      </div>
    </div>
  

</body></html>